.container {
  margin-top: 1rem;
  display: flex;
  align-items: self-start;
  gap: 2rem;
  width: 100%;
}

.content {
  flex: 1;
}

.titulo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
