.tittle{
    font-weight: bold;
    font-size: 2rem;
    color: var(--cor-texto-destaque);
}

.arrayCircles{
    display: flex;
    gap: 10rem;
    justify-content: center;
    margin-top: 4rem;
}

.circles{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: none;
    background: var(--cor-borda);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.categoria{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.categoria:hover{
    transform: scale(1.1);
}

.categoria h3{
    font-size: 2rem;
}

