.tabela {
  width: 100%;
  border-collapse: collapse;
}

.theadTr {
  background-color: var(--cor-card);
  text-align: center;
}

.th,
.td {
  padding: 0.5rem;
  border: 1px solid var(--cor-borda);
  text-align: center;
}

.tr {
  text-align: center;
}

.botaoEditar {
  background-color: #1e90ff;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.8rem;
  color: white;
  transition: 0.2s;
  margin-bottom: 0.5rem;
}

.botaoExcluir {
  background-color:  #b00020;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.8rem;
  color: white;
  transition: 0.2s;
  margin-bottom: 0.5rem;
}

.botaoFoto {
  background-color: #8e44ad;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.8rem;
  color: white;
  transition: 0.2s;
}

.botaoFoto:hover {
  opacity: 0.75;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.modalImg {
  max-width: 90vw;
  max-height: 80vh;
  border-radius: 10px;
}

.modalClose {
  margin-top: 10px;
  padding: 6px 12px;
  background: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modalClose:hover {
  background: #c0392b;
}


