.container {
  display: flex;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  gap: 2rem;
}

.titulo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #555; 
}

.sidebar{
    
    flex-shrink: 0;
}

.heroSection{
    margin-top: 1rem;
    display: flex;
    align-items:self-start;
    gap: 2rem;
    width: 100%;

}
 
.content{
    flex: 1;
}