.titulo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #555; 
}

.heroSection{
    margin-top: 1rem;
    display: flex;
    align-items:self-start;
    gap: 2rem;
    width: 100%;

}
 
.content{
    flex: 1;
}

.btnNovoPedido {
  background: #10b981;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}

.btnNovoPedido:hover {
  background: #0d946c;
}