
.container{
    background-color: #e0e0e0;
    padding: 0.5rem ;
}
.container a {
    text-decoration: none;
    color: var(--cor-fonte, #333); 
    padding: 1rem 1.5rem;
    font-weight: 500;
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

/* Opcional: Estilo para o texto (span) */
.container a span {
    flex: 1; 
}