.container{
    background-color: var(--cor-borda);
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: flex-start;
}

