.containerCad{
  display: flex;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  gap: 2rem;
}

.containerCad img {
  width: 45%;
  height: 100%;
  object-fit:contain;
  cursor: pointer;
}

.formularioCad h1,.formularioCad p,.formularioCad a{
    color: var(--brown-dark);
}
.formularioCad a{
    cursor: pointer;
    text-decoration: underline;
}
.spaceCad {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--brown-dark);
}

.formularioCad {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--yellow-main);
  color: var(--white);
  padding: 1.5rem;
  overflow-y: auto;
}

.formularioCad h1 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.inputWrite {
  margin-bottom: 0.5rem;
  padding: 0.6rem 0.8rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  outline: none;
  caret-color: var(--brown-dark);
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

form input:focus {
  border: 1px solid var(--brown-dark);
  box-shadow: 0 0 0 2px rgba(146, 66, 60, 0.2);
}


.subtitulo {
  font-size: 1.2rem;
  color: var(--brown-dark);
  margin-top: 0.8rem;
  margin-bottom: 0.3rem;
  border-left: 4px solid var(--brown-dark);
  padding-left: 8px;
}


.cadButton {
  font-size: 1rem;
  color: var(--yellow-main);
  background-color: var(--brown-dark);
  border-radius: 0.5rem;
  border: 1px solid var(--yellow-main);
  padding: 0.6rem 0;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 0.7rem;
  width: 100%;
}

.cadButton:hover {
  background-color: var(--yellow-main);
  color: var(--brown-dark);
  border: 1px solid var(--brown-dark);
  scale: 1.03;
}

/* ======== MENSAGENS ======== */
.erro {
  color: #a00;
  background-color: #ffe0e0;
  border: 1px solid #a00;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
}

.sucesso {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
}

/* ======== FORM ======== */
form {
  width: 75%;
  display: flex;
  flex-direction: column;
}
