.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.titlle h1 {
    font-size: 2.5rem;
    padding-left: 2rem;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 1.5em;
    color: #333;
    font-weight: bold;
    margin-right: 30px;
    min-width: 250px;
}

.searchBarContainer {
    flex-grow: 1;
    display: flex;
    max-width: 500px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.searchBar {
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    flex-grow: 1;
    outline: none;
}

.searchButton {
    background-color: #f8f8f8;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.userSection {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 0.9em;
    min-width: 250px;
    justify-content: flex-end;
}

.minhaConta {
    color: #888;
}

.loginButton {
    background: none;
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.carrinho {
    background: none;
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: orange;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 0.7em;
}


/* ================== BARRA DE CATEGORIAS (CategoryNav) ================== */
.categoryNav {
    display: flex;
    justify-content: center;
    /* Alinha o menu de categorias à esquerda */
    gap: 30px;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.categoryLink {
    text-decoration: none;
    color: #555;
    font-weight: 500;
}