.container{
    background-color: lightgray;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titlle h1{
    font-size: 2.5rem;
    padding-left: 2rem;
}

.userInfo{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.circles{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 2px solid black;
    background: lightgray;
}