.botaoVoltar{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: var(--cor-botao);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: none;
}

.botaoVoltar:hover{
    transform: scale(1.1);
    background-color: var(--cor-botao-hover);
}


.icone{
    color: var(--cor-botao);
    width: 2rem;
    height: 2rem;
    transition: color 0.3s ease; 
}
